In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
df = pd.read_excel('/content/travel.xlsx')
df

Add a column with proper indicing if not present

In [ ]:
df.essay_hindi

0      यात्रा का अपना सुखद अनुभव होता है जिसमें हम कई...
1      व्यक्ति अपने जीवन में अनेक कामों में व्यस्त रह...
2      यात्रा सुनने मै भले ही सरल सा शब्द लगता है परन...
3      ➡️यात्रा-यूँ  कहा जाए तो जिंदगी भी एक यात्रा ह...
4      जीवन के अनुभवों के माध्यम से व्यावहारिक सीखने ...
                             ...
120    एक दिन मैं अपनी नौकरी को लेकर बहुत जोर दे रहा ...
121    हाँ! यात्रा आपको बदल सकती है। जब आप किसी दूसरे...
122    मुझे सब कुछ भूलने में सक्षम होना पसंद है और घर...
123    हर दिन (या एक दिन में दो बार) चुनने की क्षमता ...
124    चाहे वह एक दिन की यात्रा हो या एक महीने की यात...
Name: essay_hindi, Length: 125, dtype: object

In [ ]:
df.rename(columns={"Unnamed: 0": "Unnamed: 0.1"}, inplace=True)

In [ ]:
def addCol(x):
  return x

In [ ]:
df['Unnamed: 0'] = df['Unnamed: 0.1'].apply(lambda x: addCol(x-df['Unnamed: 0.1'][0]))

Preprocessing

In [ ]:
import re
def remove_mentions(x):
  if x=='nan':
    return ""
  x = re.sub("@[a-zA-Z0-9 ]+", " ", x)
  return x

In [ ]:
df.essay_hindi = df.essay_hindi.apply( lambda x: remove_mentions(str(x)))

In [ ]:
df.head()

,essay_hindi,length,sc1ovr,sc1t1,sc1t2,sc1t3,sc1t4,sc2ovr,sc2t1,sc2t2,sc2t3,sc2t4,lpovr,lpt1,lpt2,lpt3,lpt4,Unnamed: 17,score
0,यात्रा का अपना सुखद अनुभव होता है जिसमें हम कई...,155.0,3.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,2.0,3.0,2.0,1.0,2.0,1.0,NaN,7
1,व्यक्ति अपने जीवन में अनेक कामों में व्यस्त रह...,181.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,4.0,2.0,2.0,2.0,2.0,NaN,8
2,यात्रा सुनने मै भले ही सरल सा शब्द लगता है परन...,316.0,4.0,3.0,2.0,2.0,2.0,3.0,2.0,2.0,2.0,2.0,3.0,2.0,2.0,2.0,2.0,NaN,8
3,➡️यात्रा-यूँ कहा जाए तो जिंदगी भी एक यात्रा ह...,169.0,3.0,2.0,1.0,2.0,2.0,3.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,NaN,7
4,जीवन के अनुभवों के माध्यम से व्यावहारिक सीखने ...,195.0,3.0,2.0,2.0,2.0,2.0,3.0,2.0,2.0,2.0,2.0,5.0,3.0,3.0,2.0,2.0,NaN,9

In [ ]:
#stopwords removal
stop_words = []
with open('/content/final_stopwords.txt') as f:
    for line in f:
        stop_words.append(line.strip())

In [ ]:
def vocab_size(x):
  #removing punctuation
  x = remove_mentions(x)

  x = x.replace("।", " ")
  x = x.replace("!", " ")
  x = x.replace("@", " ")
  x = x.replace(",", " ")
  x = x.replace("?", " ")

  #extracting words
  vocab = x.split()
  
  final_vocab = []

  for word in vocab:
    if word != " " and word not in stop_words:
        final_vocab.append(word)
  
  dict = {} 

  for word in final_vocab:
    if word not in dict:
      dict.update({ word : 1 })
    else:
      dict[word] += 1
    
  cnt = 0

  for key, value in dict.items():
      cnt = cnt + 1
  
  return cnt

In [ ]:
df['vocab_size'] = df.essay_hindi.apply( lambda x: vocab_size(x))

In [ ]:
def rare_words(x):
  #removing punctuation
  x = x.replace("।", " ")
  x = x.replace("!", " ")
  x = x.replace("@", " ")
  x = x.replace(",", " ")
  x = x.replace("?", " ")

  #extracting words
  vocab = x.split()
  
  final_vocab = []

  for word in vocab:
    if word != " " and word not in stop_words:
        final_vocab.append(word)
  
  dict = {} 

  for word in final_vocab:
    if word not in dict:
      dict.update({ word : 1 })
    else:
      dict[word] += 1
    
  cnt = 0
  for key, value in dict.items():
    if value == 1:
      cnt = cnt + 1
  
  return cnt

In [ ]:
df['unique_words_count'] = df.essay_hindi.apply( lambda x: rare_words(x))

In [ ]:
df.head()

,essay_hindi,length,sc1ovr,sc1t1,sc1t2,sc1t3,sc1t4,sc2ovr,sc2t1,sc2t2,...,sc2t4,lpovr,lpt1,lpt2,lpt3,lpt4,Unnamed: 17,score,vocab_size,unique_words_count
0,यात्रा का अपना सुखद अनुभव होता है जिसमें हम कई...,155.0,3.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,...,2.0,3.0,2.0,1.0,2.0,1.0,NaN,7,51,36
1,व्यक्ति अपने जीवन में अनेक कामों में व्यस्त रह...,181.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,4.0,2.0,2.0,2.0,2.0,NaN,8,58,43
2,यात्रा सुनने मै भले ही सरल सा शब्द लगता है परन...,316.0,4.0,3.0,2.0,2.0,2.0,3.0,2.0,2.0,...,2.0,3.0,2.0,2.0,2.0,2.0,NaN,8,126,101
3,➡️यात्रा-यूँ कहा जाए तो जिंदगी भी एक यात्रा ह...,169.0,3.0,2.0,1.0,2.0,2.0,3.0,2.0,2.0,...,2.0,2.0,1.0,1.0,1.0,1.0,NaN,7,73,60
4,जीवन के अनुभवों के माध्यम से व्यावहारिक सीखने ...,195.0,3.0,2.0,2.0,2.0,2.0,3.0,2.0,2.0,...,2.0,5.0,3.0,3.0,2.0,2.0,NaN,9,71,55

**Semantic Overlap**

In [ ]:
!pip install tensorflow_text

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tensorflow_text
  Downloading tensorflow_text-2.10.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (5.9 MB)
     |████████████████████████████████| 5.9 MB 7.6 MB/s
Requirement already satisfied: tensorflow-hub>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow_text) (0.12.0)
Collecting tensorflow<2.11,>=2.10.0
  Downloading tensorflow-2.10.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (578.0 MB)
     |████████████████████████████████| 578.0 MB 19 kB/s
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (4.1.1)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (1.1.2)
Collecting keras<2.11,>=2.10.0
  Downloading keras-2.10.0-py2.py3-none-any.whl (1.7 MB)
     |████████████████████████████████| 1.7 MB 52.9 MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (21.3)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (0.26.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (0.2.0)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (1.21.6)
Requirement already satisfied: absl-py>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (1.2.0)
Collecting gast<=0.4.0,>=0.2.1
  Downloading gast-0.4.0-py3-none-any.whl (9.8 kB)
Collecting tensorboard<2.11,>=2.10
  Downloading tensorboard-2.10.0-py3-none-any.whl (5.9 MB)
     |████████████████████████████████| 5.9 MB 39.4 MB/s
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (1.14.1)
Requirement already satisfied: flatbuffers>=2.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (2.0.7)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (1.47.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (3.1.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (1.15.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (1.1.0)
Requirement already satisfied: libclang>=13.0.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (14.0.6)
Collecting tensorflow-estimator<2.11,>=2.10.0
  Downloading tensorflow_estimator-2.10.0-py2.py3-none-any.whl (438 kB)
     |████████████████████████████████| 438 kB 57.9 MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (57.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (1.6.3)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (3.3.0)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow<2.11,>=2.10.0->tensorflow_text) (3.17.3)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from astunparse>=1.6.0->tensorflow<2.11,>=2.10.0->tensorflow_text) (0.37.1)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.9.0->tensorflow<2.11,>=2.10.0->tensorflow_text) (1.5.2)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (1.35.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (1.8.1)
Requirement already satisfied: werkzeug>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (1.0.1)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (2.23.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (3.4.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (0.6.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (0.4.6)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (4.2.4)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (4.12.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (3.8.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (0.4.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (2022.6.15)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.11,>=2.10->tensorflow<2.11,>=2.10.0->tensorflow_text) (3.2.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->tensorflow<2.11,>=2.10.0->tensorflow_text) (3.0.9)
Installing collected packages: tensorflow-estimator, tensorboard, keras, gast, tensorflow, tensorflow-text
  Attempting uninstall: tensorflow-estimator
    Found existing installation: tensorflow-estimator 2.8.0
    Uninstalling tensorflow-estimator-2.8.0:
      Successfully uninstalled tensorflow-estimator-2.8.0
  Attempting uninstall: tensorboard
    Found existing installation: tensorboard 2.8.0
    Uninstalling tensorboard-2.8.0:
      Successfully uninstalled tensorboard-2.8.0
  Attempting uninstall: keras
    Found existing installation: keras 2.8.0
    Uninstalling keras-2.8.0:
      Successfully uninstalled keras-2.8.0
  Attempting uninstall: gast
    Found existing installation: gast 0.5.3
    Uninstalling gast-0.5.3:
      Successfully uninstalled gast-0.5.3
  Attempting uninstall: tensorflow
    Found existing installation: tensorflow 2.8.2+zzzcolab20220719082949
    Uninstalling tensorflow-2.8.2+zzzcolab20220719082949:
      Successfully uninstalled tensorflow-2.8.2+zzzcolab20220719082949
Successfully installed gast-0.4.0 keras-2.10.0 tensorboard-2.10.0 tensorflow-2.10.0 tensorflow-estimator-2.10.0 tensorflow-text-2.10.0

In [ ]:
!pip install bert-for-tf2

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting bert-for-tf2
  Downloading bert-for-tf2-0.14.9.tar.gz (41 kB)
     |████████████████████████████████| 41 kB 181 kB/s
Collecting py-params>=0.9.6
  Downloading py-params-0.10.2.tar.gz (7.4 kB)
Collecting params-flow>=0.8.0
  Downloading params-flow-0.8.2.tar.gz (22 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from params-flow>=0.8.0->bert-for-tf2) (1.21.6)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from params-flow>=0.8.0->bert-for-tf2) (4.64.0)
Building wheels for collected packages: bert-for-tf2, params-flow, py-params
  Building wheel for bert-for-tf2 (setup.py) ... done
  Created wheel for bert-for-tf2: filename=bert_for_tf2-0.14.9-py3-none-any.whl size=30535 sha256=12823d50444d9d51ee17ce9ce6ad5cafa4cbea73f92419ac563297bed5090105
  Stored in directory: /root/.cache/pip/wheels/47/b6/e5/8c76ec779f54bc5c2f1b57d2200bb9c77616da83873e8acb53
  Building wheel for params-flow (setup.py) ... done
  Created wheel for params-flow: filename=params_flow-0.8.2-py3-none-any.whl size=19472 sha256=59beaec6cdf5fd12dbca70855715f1a42599a799503df01c2b818b3032de2c1b
  Stored in directory: /root/.cache/pip/wheels/0e/fc/d2/a44fff33af0f233d7def6e7de413006d57c10e10ad736fe8f5
  Building wheel for py-params (setup.py) ... done
  Created wheel for py-params: filename=py_params-0.10.2-py3-none-any.whl size=7911 sha256=10e08f967294ab2f0b8a0c3a6a55ad6184b2648df83a976b572f7bd3f59555e0
  Stored in directory: /root/.cache/pip/wheels/e1/11/67/33cc51bbee127cb8fb2ba549cd29109b2f22da43ddf9969716
Successfully built bert-for-tf2 params-flow py-params
Installing collected packages: py-params, params-flow, bert-for-tf2
Successfully installed bert-for-tf2-0.14.9 params-flow-0.8.2 py-params-0.10.2

In [ ]:
import tensorflow as tf
import tensorflow_datasets as tfds
import tensorflow_hub as hub
import tensorflow_text as text
from bert import bert_tokenization
import numpy as np
from scipy.spatial import distance

def get_model(model_url, max_seq_length):
  inputs = dict(
    input_word_ids=tf.keras.layers.Input(shape=(max_seq_length,), dtype=tf.int32),
    input_mask=tf.keras.layers.Input(shape=(max_seq_length,), dtype=tf.int32),
    input_type_ids=tf.keras.layers.Input(shape=(max_seq_length,), dtype=tf.int32),
    ) 
  muril_layer = hub.KerasLayer(model_url, trainable=True)
  outputs = muril_layer(inputs)
  assert 'sequence_output' in outputs
  assert 'pooled_output' in outputs
  assert 'encoder_outputs' in outputs
  assert 'default' in outputs
  return tf.keras.Model(inputs=inputs,outputs=outputs["pooled_output"]), muril_layer
#function call
max_seq_length = 128
muril_model, muril_layer = get_model(
    model_url="https://tfhub.dev/google/MuRIL/1", max_seq_length=max_seq_length)

vocab_file = muril_layer.resolved_object.vocab_file.asset_path.numpy()
do_lower_case = muril_layer.resolved_object.do_lower_case.numpy()
tokenizer = bert_tokenization.FullTokenizer(vocab_file, do_lower_case)

def create_input(input_strings, tokenizer, max_seq_length):
  input_ids_all, input_mask_all, input_type_ids_all = [], [], []
  for input_string in input_strings:
    input_tokens = ["[CLS]"] + tokenizer.tokenize(input_string) + ["[SEP]"]
    input_ids = tokenizer.convert_tokens_to_ids(input_tokens)
    sequence_length = min(len(input_ids), max_seq_length)
    if len(input_ids) >= max_seq_length:
      input_ids = input_ids[:max_seq_length]
    else:
      input_ids = input_ids + [0] * (max_seq_length - len(input_ids))
    input_mask = [1] * sequence_length + [0] * (max_seq_length - sequence_length)
    input_ids_all.append(input_ids)
    input_mask_all.append(input_mask)
    input_type_ids_all.append([0] * max_seq_length)
  return np.array(input_ids_all), np.array(input_mask_all), np.array(input_type_ids_all)

def encode(input_text):
  input_ids, input_mask, input_type_ids = create_input(input_text,tokenizer,max_seq_length)
  inputs = dict(
      input_word_ids=input_ids,
      input_mask=input_mask,
      input_type_ids=input_type_ids,
  )
  return muril_model(inputs)

In [ ]:
def get_overlap(x):
  sentences = x.split("।")
  scores = []
  
  n = len(sentences)
  prev = 0
  curr = 4 

  while curr < n:
    temp = []
    temp.append(sentences[prev])
    temp.append(sentences[curr]) 

    embeddings = encode(temp) 

    scores.append(distance.cosine(np.array(embeddings[0]), np.array(embeddings[1])))

    prev = prev + 4 
    curr = curr + 4

  curr = curr%n
  temp = []
  temp.append(sentences[prev])
  temp.append(sentences[curr]) 

  embeddings = encode(temp) 

  scores.append(distance.cosine(np.array(embeddings[0]), np.array(embeddings[1])))

  
  #returning avg semantic overlap score
  return sum(scores)/len(scores)

In [ ]:
df['overlap_score'] = df.essay_hindi.apply(lambda x: get_overlap(x))

In [ ]:
df.head()

,essay_hindi,length,sc1ovr,sc1t1,sc1t2,sc1t3,sc1t4,sc2ovr,sc2t1,sc2t2,...,lpovr,lpt1,lpt2,lpt3,lpt4,Unnamed: 17,score,vocab_size,unique_words_count,overlap_score
0,यात्रा का अपना सुखद अनुभव होता है जिसमें हम कई...,155.0,3.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,...,3.0,2.0,1.0,2.0,1.0,NaN,7,51,36,0.000000
1,व्यक्ति अपने जीवन में अनेक कामों में व्यस्त रह...,181.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,4.0,2.0,2.0,2.0,2.0,NaN,8,58,43,0.000335
2,यात्रा सुनने मै भले ही सरल सा शब्द लगता है परन...,316.0,4.0,3.0,2.0,2.0,2.0,3.0,2.0,2.0,...,3.0,2.0,2.0,2.0,2.0,NaN,8,126,101,0.000567
3,➡️यात्रा-यूँ कहा जाए तो जिंदगी भी एक यात्रा ह...,169.0,3.0,2.0,1.0,2.0,2.0,3.0,2.0,2.0,...,2.0,1.0,1.0,1.0,1.0,NaN,7,73,60,0.000000
4,जीवन के अनुभवों के माध्यम से व्यावहारिक सीखने ...,195.0,3.0,2.0,2.0,2.0,2.0,3.0,2.0,2.0,...,5.0,3.0,3.0,2.0,2.0,NaN,9,71,55,0.000132

In [ ]:
import re 
re.findall("@[a-zA-Z0-9 ]+", df.essay_hindi[0])

[]

**Statistical Features** - Essay Length, Average Sentence Length, Average Word Length and Readability Score

In [ ]:
df['Unnamed: 0'] = np.arange(len(df))
# to add indexing

In [ ]:
df

,essay_hindi,length,sc1ovr,sc1t1,sc1t2,sc1t3,sc1t4,sc2ovr,sc2t1,sc2t2,...,lpt1,lpt2,lpt3,lpt4,Unnamed: 17,score,vocab_size,unique_words_count,overlap_score,Unnamed: 0
0,यात्रा का अपना सुखद अनुभव होता है जिसमें हम कई...,155.0,3.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,...,2.0,1.0,2.0,1.0,NaN,7,51,36,0.000000,0
1,व्यक्ति अपने जीवन में अनेक कामों में व्यस्त रह...,181.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,NaN,8,58,43,0.000335,1
2,यात्रा सुनने मै भले ही सरल सा शब्द लगता है परन...,316.0,4.0,3.0,2.0,2.0,2.0,3.0,2.0,2.0,...,2.0,2.0,2.0,2.0,NaN,8,126,101,0.000567,2
3,➡️यात्रा-यूँ कहा जाए तो जिंदगी भी एक यात्रा ह...,169.0,3.0,2.0,1.0,2.0,2.0,3.0,2.0,2.0,...,1.0,1.0,1.0,1.0,NaN,7,73,60,0.000000,3
4,जीवन के अनुभवों के माध्यम से व्यावहारिक सीखने ...,195.0,3.0,2.0,2.0,2.0,2.0,3.0,2.0,2.0,...,3.0,3.0,2.0,2.0,NaN,9,71,55,0.000132,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,एक दिन मैं अपनी नौकरी को लेकर बहुत जोर दे रहा ...,572.0,5.0,3.0,3.0,2.0,2.0,4.0,3.0,2.0,...,3.0,3.0,2.0,2.0,NaN,11,167,122,0.000256,120
121,हाँ! यात्रा आपको बदल सकती है। जब आप किसी दूसरे...,96.0,2.0,2.0,1.0,1.0,1.0,2.0,1.0,1.0,...,1.0,1.0,1.0,1.0,NaN,5,41,38,0.000460,121
122,मुझे सब कुछ भूलने में सक्षम होना पसंद है और घर...,45.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,NaN,3,22,19,0.000000,122
123,हर दिन (या एक दिन में दो बार) चुनने की क्षमता ...,81.0,1.0,1.0,1.0,1.0,1.0,2.0,1.0,1.0,...,1.0,1.0,1.0,1.0,NaN,4,34,29,0.000333,123
124,चाहे वह एक दिन की यात्रा हो या एक महीने की यात...,207.0,3.0,2.0,2.0,2.0,2.0,3.0,2.0,1.0,...,1.0,1.0,1.0,1.0,NaN,6,74,62,0.000438,124

In [ ]:
!unzip /content/indic_nlp_library-master.zip
#/content/sample_data

In [ ]:
!unzip /content/indic_nlp_resources-master.zip

In [ ]:
!pip install indic-nlp-library

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting indic-nlp-library
  Downloading indic_nlp_library-0.81-py3-none-any.whl (40 kB)
     |████████████████████████████████| 40 kB 4.5 MB/s
Collecting sphinx-rtd-theme
  Downloading sphinx_rtd_theme-1.0.0-py2.py3-none-any.whl (2.8 MB)
     |████████████████████████████████| 2.8 MB 13.4 MB/s
Collecting sphinx-argparse
  Downloading sphinx_argparse-0.3.1-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from indic-nlp-library) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from indic-nlp-library) (1.21.6)
Collecting morfessor
  Downloading Morfessor-2.0.6-py3-none-any.whl (35 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->indic-nlp-library) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->indic-nlp-library) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->indic-nlp-library) (1.15.0)
Requirement already satisfied: sphinx>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from sphinx-argparse->indic-nlp-library) (1.8.6)
Requirement already satisfied: docutils<0.18,>=0.11 in /usr/local/lib/python3.7/dist-packages (from sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (0.17.1)
Requirement already satisfied: Jinja2>=2.3 in /usr/local/lib/python3.7/dist-packages (from sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (2.11.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (21.3)
Requirement already satisfied: snowballstemmer>=1.1 in /usr/local/lib/python3.7/dist-packages (from sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (2.2.0)
Requirement already satisfied: requests>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (2.23.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (57.4.0)
Requirement already satisfied: babel!=2.0,>=1.3 in /usr/local/lib/python3.7/dist-packages (from sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (2.10.3)
Requirement already satisfied: Pygments>=2.0 in /usr/local/lib/python3.7/dist-packages (from sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (2.6.1)
Requirement already satisfied: sphinxcontrib-websupport in /usr/local/lib/python3.7/dist-packages (from sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (1.2.4)
Requirement already satisfied: imagesize in /usr/local/lib/python3.7/dist-packages (from sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (1.4.1)
Requirement already satisfied: alabaster<0.8,>=0.7 in /usr/local/lib/python3.7/dist-packages (from sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (0.7.12)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2>=2.3->sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (2.0.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.0.0->sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (1.24.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (3.0.9)
Requirement already satisfied: sphinxcontrib-serializinghtml in /usr/local/lib/python3.7/dist-packages (from sphinxcontrib-websupport->sphinx>=1.2.0->sphinx-argparse->indic-nlp-library) (1.1.5)
Installing collected packages: sphinx-rtd-theme, sphinx-argparse, morfessor, indic-nlp-library
Successfully installed indic-nlp-library-0.81 morfessor-2.0.6 sphinx-argparse-0.3.1 sphinx-rtd-theme-1.0.0

In [ ]:
import sys
from indicnlp import common
from indicnlp import loader
# The path to the local git repo for Indic NLP library
INDIC_NLP_LIB_HOME=r"/content/indic_nlp_library-master"

# The path to the local git repo for Indic NLP Resources
INDIC_NLP_RESOURCES=r"/content/indic_nlp_resources-master"

sys.path.append(r'{}'.format(INDIC_NLP_LIB_HOME))

common.set_resources_path(INDIC_NLP_RESOURCES)
loader.load()

In [ ]:
from indicnlp.syllable import  syllabifier
lang='hi'

In [ ]:
essays=df["essay_hindi"]
essays

In [ ]:
l_of_features=[]
#essay_length, avg_sentence_length, avg_word_length
readability_score=[]
for i in range(len(essays)):
  no_of_words=0
  no_of_sentences=0
  total_len_of_words=0
  no_poly_syllables=0
  essay=essays[i]
  if essay=="":
    l_of_features.append([0,0,0])
    readability_score.append(0) 
    continue
  #one essay
  essay = essay.replace("!","।")
  essay = essay.replace("?","।")
  temp=essay.split("।")
  # print(temp)
  #print(temp) number of sentences
  no_of_sentences=len(temp)
  for j in range(len(temp)):
    b=temp[j].replace(","," ").split()
    no_of_words+=len(b)
    for k in range(len(b)):
      total_len_of_words+=len(b[k])
      #assumed strictly greater than 2
      if(len(' '.join(syllabifier.orthographic_syllabify_improved(b[k],lang)).split()))>2:
        no_poly_syllables+=1
  l_of_features.append([no_of_words,(no_of_words/no_of_sentences),(total_len_of_words/no_of_words)])
  temp2=-2.34+(2.14*(total_len_of_words/no_of_words))+(0.01*no_poly_syllables)
  readability_score.append(temp2)

In [ ]:
def essay_length(x):
  # no_of_words=0
  # no_of_sentences=0
  # total_len_of_words=0
  # no_poly_syllables=0
  # essay=x
  # #one essay
  # essay = essay.replace("!","।")
  # essay = essay.replace("?","।")
  # temp=essay.split("।")
  # # print(temp)
  # #print(temp) number of sentences
  # no_of_sentences=len(temp)
  # for j in range(len(temp)):
  #   b=temp[j].replace(","," ").split()
  #   no_of_words+=len(b)
  # return no_of_words
  return l_of_features[x][0]

In [ ]:
df['essay_length'] = df["Unnamed: 0"].apply(lambda x:essay_length(x))

In [ ]:
def avg_sentence_length(x):
  return l_of_features[x][1]

In [ ]:
df['average_sentence_length']=df["Unnamed: 0"].apply(lambda x:avg_sentence_length(x))

In [ ]:
def avg_word_length(x):
  return l_of_features[x][2]

In [ ]:
df['average_word_length']=df["Unnamed: 0"].apply(lambda x:avg_word_length(x))

In [ ]:
def readability(x):
  return readability_score[x]

In [ ]:
df['readability']=df["Unnamed: 0"].apply(lambda x:readability(x))

In [ ]:
df.head()

,essay_hindi,length,sc1ovr,sc1t1,sc1t2,sc1t3,sc1t4,sc2ovr,sc2t1,sc2t2,...,Unnamed: 17,score,vocab_size,unique_words_count,overlap_score,Unnamed: 0,essay_length,average_sentence_length,average_word_length,readability
0,यात्रा का अपना सुखद अनुभव होता है जिसमें हम कई...,155.0,3.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,...,NaN,7,51,36,0.000000,0,145,145.000000,3.517241,5.646897
1,व्यक्ति अपने जीवन में अनेक कामों में व्यस्त रह...,181.0,3.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,NaN,8,58,43,0.000335,1,181,12.066667,3.784530,6.308895
2,यात्रा सुनने मै भले ही सरल सा शब्द लगता है परन...,316.0,4.0,3.0,2.0,2.0,2.0,3.0,2.0,2.0,...,NaN,8,126,101,0.000567,2,316,26.333333,3.585443,6.372848
3,➡️यात्रा-यूँ कहा जाए तो जिंदगी भी एक यात्रा ह...,169.0,3.0,2.0,1.0,2.0,2.0,3.0,2.0,2.0,...,NaN,7,73,60,0.000000,3,169,28.166667,3.834320,6.435444
4,जीवन के अनुभवों के माध्यम से व्यावहारिक सीखने ...,195.0,3.0,2.0,2.0,2.0,2.0,3.0,2.0,2.0,...,NaN,9,71,55,0.000132,4,195,16.250000,4.061538,7.151692

In [ ]:
l_of_features

In [ ]:
df.to_csv('organic.csv', index=False)